@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular");

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  font-display: swap;
  src: url("../fonts/verdana.woff") format("woff"), url("../fonts/verdana.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Verdana";
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

button:active {
  opacity: 0.7;
}

.header {
  padding: 15px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__image {
  margin: 0 15px 0 0;
}

.header__print {
  padding: 15px 0 0 0;
}

.header__print p:nth-child(1) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #00aeef;
  font-family: "Myriad Pro";
  font-size: 49px;
  font-weight: 700;
  line-height: 24.66px;
  letter-spacing: -2.4px;
}

.header__print p:nth-child(2) {
  color: #b7b7b7;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.15px;
  text-transform: uppercase;
  letter-spacing: -0.64px;
  font-style: italic;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__contacts p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b7b7b7;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 0 0 0 27px;
}

.header__contacts p:nth-child(1) {
  background: url(../img/icons/Phone.svg) left center no-repeat;
}

.header__contacts p:nth-child(2) {
  background: url(../img/icons/Mail.svg) left center no-repeat;
}

.header__contacts p:nth-child(3) {
  background: url(../img/icons/Shopping_Cart.svg) left center no-repeat;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
  height: 44px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #404040;
}

.main-menu__body {
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 52%;
          flex: 1 1 52%;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu__link {
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  text-transform: uppercase;
}

.main-menu__searh-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 0 0 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

.main-menu__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #989898;
  font-size: 11px;
  line-height: 26px;
  background-color: #3c3c3c;
  -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 0 0 10px;
  max-width: 195px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

.main-menu__btn {
  width: 32px;
  height: 26px;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), inset 1px 1px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4), inset 1px 1px 0 rgba(255, 255, 255, 0.3);
  background-color: #00aeef;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(255, 255, 255, 0.25)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.no-webp .banner{
  background: url(../img/Banner_background.png) top repeat-x; }

.banner {
  display: block;
  padding: 66px 0 50px;
}

.slider__sub-title {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #b7b7b7;
  font-family: "PT Sans Narrow";
  font-size: 63px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0 0 9px 0;
  letter-spacing: 2px;
  margin-left: 47.5%;
}

.slider__title {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #ef009d;
  font-family: "PT Sans Narrow";
  font-size: 139px;
  font-weight: 700;
  line-height: 101px;
  text-transform: uppercase;
  margin: 0 0 35px 0;
  margin-left: 46.8%;
}

.slider__btn {
  display: inline-block;
  position: relative;
  margin-left: 47.5%;
  padding-bottom: 20px;
}

.slider__btn button {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  color: #fefefe;
  font-family: "PT Sans Narrow";
  font-size: 30px;
  line-height: 46px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7);
  border: 1px solid #006a92;
  background-color: #00aeef;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0.4)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
  border-radius: 5px;
  padding: 0 35px;
}

.slider__btn img {
  position: absolute;
  left: -12.5%;
  top: 27px;
}

/* Слайдер */

.slick-slider {
  /* min-width: 0; */
}

/* Слайдер запущен */

/* Слайдер с точками */

/* ------------------------------------------------------------------------------------------------------- */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* ------------------------------------------------------------------------------------------------------- */

/* Стрелка */

.slick-arrow {
  font-size: 0;
}

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* ------------------------------------------------------------------------------------------------------- */

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  margin: 0 3.5px;
}

/* Активная точка */

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  background-color: #b7b7b7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  width: 10px;
  height: 10px;
}

/* Активный элемент точки */

.slick-dots li.slick-active button {
  background-color: #00aeef;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

/* !!! если слайдер находится внутри flex-элемента либо он сам flex-элемент, тогда для flex-элемента нужно обязательно указать параметр       min-width: 0;     */

.info-content {
  padding: 0 0 45px 0;
}

.info-content p {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}

.info-content span {
  color: #ef009d;
  text-decoration: underline;
}

.info-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7.5px;
}

.info-content__offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 7.5px;
}

.info-content__offer p img {
  float: left;
  margin: 0px 10px 0px 0;
}

.info-content__offer p:first-child {
  margin: 0 0 15px 0;
}

.info-content__title {
  color: #00aeef;
  font-family: "PT Sans Narrow";
  font-size: 30px;
  text-transform: uppercase;
  background: url(../img/blue_separator.svg) left 99% no-repeat;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
}

.info-content__guarantee {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 7.5px;
}

.info-content__guarantee p {
  margin: 0 0 10px 0;
}

.info-content__guarantee p img {
  float: left;
  margin: 0 10px 0 0;
}

.info-content__guarantee p:nth-child(3) {
  padding-right: 15px;
}

.info-content__guarantee p:nth-child(4) {
  padding-right: 15px;
  margin: 0;
}

.info-content__awards {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 7.5px;
}

.no-webp .info-content__video{
  background: url(../img/Video.png) center no-repeat; }

.info-content__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5px 0;
}

.testimonials {
  background-color: #f9f9f9;
  padding: 41px 0 53px 0;
}

.testimonials__title {
  color: #00aeef;
  font-family: "PT Sans Narrow";
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__img1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.testimonials__text {
  height: 100%;
  padding: 0 15px;
}

.testimonials__text p:nth-child(1) {
  color: #888888;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  margin: 0 0 15px 0;
}

.testimonials__text p:nth-child(2) {
  color: #ef009d;
  font-size: 12px;
  font-style: italic;
}

.testimonials__img2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer {
  background-color: #404040;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-webp .footer__page-links{
  background: url("../img/Separator.png") right center no-repeat; }

.footer__page-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 230px;
  padding: 25px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__page-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 0 0 11px;
  color: #b7b7b7;
  font-size: 11px;
  text-decoration: underline;
  background: url(../img/icons/Shape_footer.svg) left 55% no-repeat;
}

.no-webp .footer__social-links{
  background: url("../img/Separator.png") right center no-repeat; }

.footer__social-links {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
}

.footer__social-link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__logo {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__logo img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0 0 10px 0;
}

.footer__logo p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: #646363;
  font-size: 10px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .slider__sub-title {
    margin-left: 20%;
  }

  .slider__title {
    margin-left: 19.3%;
  }

  .slider__btn {
    margin-left: 20%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  body.lock {
    overflow: hidden;
  }

  .main-menu__burger {
    cursor: pointer;
    margin-left: 15px;
    display: block;
    width: 25px;
    height: 20px;
    position: relative;
  }

  .main-menu__burger:before {
    content: "";
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #989898;
  }

  .main-menu__burger span {
    position: absolute;
    top: 46%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #989898;
  }

  .main-menu__burger:after {
    content: "";
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #989898;
  }

  .main-menu__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #c6d1d0f1;
    padding: 40px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 100;
  }

  .main-menu__menu.active {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-menu__list {
    display: block;
  }

  .main-menu__list li {
    margin: 0 0 20px 0;
    text-align: center;
  }

  .main-menu__list li a {
    font-size: 30px;
  }

  .slider__sub-title {
    margin-left: 6.5%;
  }

  .slider__title {
    margin-left: 5%;
  }

  .slider__btn {
    margin-left: 6%;
  }

  .info-content__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info-content__offer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 15px 0;
  }

  .info-content__guarantee {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 15px 0;
  }

  .info-content__awards {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__logo {
    margin-bottom: 15px;
  }

  .slider__sub-title {
    font-size: calc(36px + 27 * ((100vw - 320px) / 640));
    line-height: calc(46 * ((36px + 27 * ((100vw - 320px) / 640)) / 63));
  }

  .slider__title {
    font-size: calc(80px + 59 * ((100vw - 320px) / 640));
    line-height: calc(101 * ((80px + 59 * ((100vw - 320px) / 640)) / 139));
  }

  .footer__page-links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 65%;
            flex: 1 1 65%;
    max-width: none;
  }

  .footer__page-link {
    line-height: 17px;
  }

  .no-webp .footer__social-links{
    background: url("../img/Separator.png") -100% center no-repeat; }

  .footer__social-links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 35%;
            flex: 1 1 35%;
  }

  .footer__social-link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }

  .footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 450px) {
  .header__contacts {
    padding-left: 45%;
  }
}

.webp .banner{ background: url(../img/Banner_background.webp) top repeat-x; }

.webp .info-content__video{ background: url(../img/Video.webp) center no-repeat; }

.webp .footer__page-links{ background: url(../img/Separator.webp) right center no-repeat; }

.webp .footer__social-links{ background: url(../img/Separator.webp) right center no-repeat; }

@media (max-width: 576px){

  .webp .footer__social-links{ background: url(../img/Separator.webp) -100% center no-repeat; }
}